{% extends 'departement_head/base.html' %}
{% block title %}Register Company{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <h1>Register a New Company</h1>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Company Details</h3>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}