{% extends 'departement_head/base.html' %}
{% load static %}
{% block title %}Form Generated{% endblock %}

{% block content %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Form Generated Successfully</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="alert alert-success">
                The form has been generated successfully. 
                <a href="{% url 'form_list' %}">View all forms</a>.
            </div>
            <a href="{% url 'department_head_dashboard' %}" class="btn btn-primary">Return to Dashboard</a>
        </div>
    </section>
</div>
{% endblock %}