{% extends base_template %}

{% block title %}{{ group.name }}{% endblock %}

{% block content %}
<div class="content-wrapper" style="background-color: #e6ebf5;">
    <div class="chat-container">
        <!-- Chat Header with Group Management -->
        <div class="chat-header">
            <div class="chat-info">
                <button class="btn btn-back d-md-none">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <div class="avatar">
                    {% if group.group_image %}
                    <img src="{{ group.group_image.url }}" alt="{{ group.name }}">
                    {% else %}
                    <div class="avatar-default">{{ group.name|first|upper }}</div>
                    {% endif %}
                </div>
                <div class="chat-title">
                    <h5>{{ group.name }}</h5>
                    <small>{{ group.participants.count }} member{{ group.participants.count|pluralize }}</small>
                </div>
            </div>
            <div class="chat-actions">
                {% if group.created_by == request.user or request.user in group.admins.all %}
                <div class="dropdown">
                    <button class="btn btn-icon" data-toggle="dropdown">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editGroupModal">
                            <i class="fas fa-edit mr-2"></i> Edit Group
                        </a>
                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deleteGroupModal">
                            <i class="fas fa-trash mr-2"></i> Delete Group
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- Chat Messages -->
        <div class="messages-container" id="chat-messages">
            {% for message in messages %}
            <div class="message-wrapper {% if message.sender == request.user %}outgoing{% else %}incoming{% endif %}" 
                 id="message-{{ message.id }}">
                <div class="message">
                    {% if message.sender != request.user %}
                    <div class="message-sender">
                        <strong>{{ message.sender.username }}</strong>
                    </div>
                    {% endif %}
                    
                    <div class="message-content">
                        {% if message.message_type == 'text' %}
                            <div class="message-text" id="message-text-{{ message.id }}">{{ message.content }}</div>
                        {% elif message.message_type == 'image' %}
                            <div class="message-photo">
                                <img src="{{ message.file.url }}" 
                                     alt="Photo" 
                                     onclick="openMediaViewer('{{ message.file.url }}', 'image')">
                            </div>
                        {% elif message.message_type == 'video' %}
                            <div class="message-video">
                                <video controls>
                                    <source src="{{ message.file.url }}" type="video/mp4">
                                </video>
                            </div>
                        {% elif message.message_type == 'file' %}
                            <div class="message-document">
                                <div class="document-icon">
                                    <i class="fas fa-file-alt"></i>
                                </div>
                                <div class="document-info">
                                    <div class="document-name">{{ message.file.name|truncatechars:30 }}</div>
                                    <div class="document-size">{{ message.file.size|filesizeformat }}</div>
                                </div>
                                <a href="{{ message.file.url }}" 
                                   download 
                                   class="document-download">
                                    <i class="fas fa-download"></i>
                                </a>
                            </div>
                        {% elif message.message_type == 'deleted' %}
                            <div class="message-deleted">
                                <i class="fas fa-ban"></i> Message deleted
                            </div>
                        {% endif %}
                    </div>
                    
                    <div class="message-meta">
                        <span class="message-time">{{ message.timestamp|time:"H:i" }}</span>
                        {% if message.sender == request.user %}
                            <span class="message-status">
                                {% if message.read %}
                                <i class="fas fa-check-double read"></i>
                                {% else %}
                                <i class="fas fa-check"></i>
                                {% endif %}
                            </span>
                        {% endif %}
                    </div>
                    
                    {% if message.sender == request.user or request.user in group.admins.all %}
                    <div class="message-actions">
                        <div class="dropdown">
                            <button class="btn btn-more" data-toggle="dropdown">
                                <i class="fas fa-ellipsis-v"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                {% if message.message_type != 'deleted' %}
                                <button class="dropdown-item edit-message" 
                                        data-message-id="{{ message.id }}"
                                        data-message-type="{{ message.message_type }}">
                                    <i class="fas fa-edit mr-2"></i> Edit
                                </button>
                                {% endif %}
                                <button class="dropdown-item delete-message" 
                                        data-message-id="{{ message.id }}">
                                    <i class="fas fa-trash mr-2"></i> Delete
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>

        <!-- Message Input with File Upload -->
        <div class="message-input-container">
            <form id="chat-form" method="POST" action="{% url 'send_group_message' group.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="button" class="btn btn-attach">
                    <i class="fas fa-paperclip"></i>
                    <input type="file" 
                           id="file-input" 
                           name="file" 
                           accept="image/*, video/*, .pdf, .doc, .docx, .txt"
                           multiple>
                </button>
                
                <div class="input-wrapper">
                    <input type="text" 
                           id="message-input" 
                           name="content" 
                           placeholder="Write a message..."
                           autocomplete="off">
                </div>
                
                <button type="submit" class="btn btn-send">
                    <i class="fas fa-paper-plane"></i>
                </button>
            </form>
            
            <!-- File Preview -->
            <div id="file-preview" class="file-preview-container"></div>
        </div>
    </div>
</div>

<!-- Edit Group Modal -->
<div class="modal fade" id="editGroupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Group</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="edit-group-form" method="POST" action="{% url 'manage_group' group.id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <label>Group Name</label>
                        <input type="text" class="form-control" name="name" value="{{ group.name }}">
                    </div>
                    <div class="form-group">
                        <label>Group Image</label>
                        <input type="file" class="form-control-file" name="group_image">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" name="description">{{ group.description }}</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Delete Group Modal -->
<div class="modal fade" id="deleteGroupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Group</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this group? All messages will be permanently deleted.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                >
            </div>
        </div>
    </div>
</div>

<!-- Media Viewer Modal -->
<div class="modal fade" id="mediaViewer" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <button type="button" class="btn btn-close" data-dismiss="modal">
                    <i class="fas fa-times"></i>
                </button>
                <img id="modal-image" class="img-fluid" style="display: none;">
                <video id="modal-video" controls class="w-100" style="display: none;">
                    Your browser does not support the video tag.
                </video>
                <div class="media-actions">
                    <a id="download-media" class="btn btn-action" download>
                        <i class="fas fa-download"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Message Edit Modal -->
<div class="modal fade" id="editMessageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Message</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <form id="edit-message-form">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <textarea id="edit-message-content" class="form-control" rows="3"></textarea>
                    </div>
                    <div id="edit-file-preview" class="file-preview-container"></div>
                    <div class="form-group">
                        <label>Change File (optional)</label>
                        <input type="file" class="form-control-file" id="edit-file-input" name="file">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
/* Telegram-like Chat Styles */
.chat-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    max-width: 800px;
    margin: 0 auto;
    background-color: #e6ebf5;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #ffffff;
    border-bottom: 1px solid #e6ebf5;
    position: sticky;
    top: 0;
    z-index: 100;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
    background-color: #0088cc;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.messages-container {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #e6ebf5;
    background-image: url('https://web.telegram.org/img/pattern.png');
    background-attachment: fixed;
}

.message-wrapper {
    margin-bottom: 10px;
    display: flex;
}

.incoming .message {
    background-color: #ffffff;
    border-top-left-radius: 0;
}

.outgoing .message {
    background-color: #e2ffc7;
    border-top-right-radius: 0;
}

.message-photo img {
    max-width: 100%;
    max-height: 300px;
    border-radius: 6px;
    cursor: pointer;
}

.message-video video {
    max-width: 100%;
    max-height: 300px;
    border-radius: 6px;
}

.message-input-container {
    padding: 10px;
    background-color: #ffffff;
    position: sticky;
    bottom: 0;
    border-top: 1px solid #e6ebf5;
}

/* Additional styles from previous template remain the same */
</style>

<script>
// WebSocket connection
const groupSocket = new WebSocket(
    'wss://' + window.location.host + '/ws/group_chat/{{ group.id }}/'
);

// Handle incoming messages
groupSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
    updateChatUI(data);
};

// Form submission with AJAX
document.getElementById('chat-form').addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(this);
    
    fetch(this.action, {
        method: 'POST',
        body: formData,
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            document.getElementById('message-input').value = '';
            clearFilePreview();
        }
    });
});

// File upload preview
document.getElementById('file-input').addEventListener('change', function(e) {
    const preview = document.getElementById('file-preview');
    preview.innerHTML = '';
    
    Array.from(this.files).forEach(file => {
        const fileType = file.type.split('/')[0];
        let icon = 'fa-file-alt';
        
        if (fileType === 'image') icon = 'fa-image';
        else if (fileType === 'video') icon = 'fa-video';
        
        const filePreview = document.createElement('div');
        filePreview.className = 'file-preview';
        filePreview.innerHTML = `
            <div class="file-preview-info">
                <div class="file-preview-icon">
                    <i class="fas ${icon}"></i>
                </div>
                <div class="file-preview-name">
                    ${file.name}
                </div>
            </div>
            <div class="file-preview-remove">
                <i class="fas fa-times"></i>
            </div>
        `;
        preview.appendChild(filePreview);
    });
    
    if (this.files.length > 0) {
        preview.style.display = 'block';
    }
});

// Message actions
document.addEventListener('click', function(e) {
    if (e.target.closest('.edit-message')) {
        const messageId = e.target.closest('.edit-message').dataset.messageId;
        const messageType = e.target.closest('.edit-message').dataset.messageType;
        editMessage(messageId, messageType);
    }
    else if (e.target.closest('.delete-message')) {
        const messageId = e.target.closest('.delete-message').dataset.messageId;
        deleteMessage(messageId);
    }
    else if (e.target.closest('.file-preview-remove')) {
        // Handle file preview removal
    }
});

function editMessage(messageId, messageType) {
    const messageElement = document.getElementById(`message-text-${messageId}`);
    const modal = $('#editMessageModal');
    
    if (messageType === 'text' && messageElement) {
        modal.find('#edit-message-content').val(messageElement.innerText);
    } else {
        // Handle editing of media messages
        modal.find('#edit-message-content').val('');
    }
    
    modal.modal('show');
    
    // Handle form submission
    document.getElementById('edit-message-form').onsubmit = function(e) {
        e.preventDefault();
        const formData = new FormData(this);
        formData.append('message_id', messageId);
        
        fetch(`/messages/${messageId}/edit/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                modal.modal('hide');
                // Update message via WebSocket
                groupSocket.send(JSON.stringify({
                    action: 'update',
                    message_id: messageId,
                    content: data.content,
                    file_url: data.file_url || null,
                    message_type: data.message_type
                }));
            }
        });
    };
}

function deleteMessage(messageId) {
    if (confirm('Are you sure you want to delete this message?')) {
        fetch(`/messages/${messageId}/delete/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json',
            }
        })
        .then(response => {
            if (response.ok) {
                // Notify via WebSocket
                groupSocket.send(JSON.stringify({
                    action: 'delete',
                    message_id: messageId
                }));
            }
        });
    }
}

function updateChatUI(data) {
    const chatMessages = document.getElementById('chat-messages');
    
    // Handle different actions (new, update, delete)
    if (data.action === 'delete') {
        const messageElement = document.getElementById(`message-${data.message_id}`);
        if (messageElement) {
            messageElement.querySelector('.message-content').innerHTML = `
                <div class="message-deleted">
                    <i class="fas fa-ban"></i> Message deleted
                </div>
            `;
            messageElement.querySelector('.message-actions').remove();
        }
    } 
    else if (data.action === 'update') {
        // Update existing message
    } 
    else {
        // Add new message
        const messageDiv = document.createElement('div');
        messageDiv.className = `message-wrapper ${data.is_sender ? 'outgoing' : 'incoming'}`;
        messageDiv.id = `message-${data.id}`;
        messageDiv.innerHTML = generateMessageHTML(data);
        chatMessages.appendChild(messageDiv);
    }
    
    chatMessages.scrollTop = chatMessages.scrollHeight;
}

function generateMessageHTML(data) {
    // Generate HTML for different message types
    // Similar to your existing message template structure
    // Returns the HTML string for the message
}

// Auto-scroll to bottom on load
window.addEventListener('load', function() {
    const chatMessages = document.getElementById('chat-messages');
    chatMessages.scrollTop = chatMessages.scrollHeight;
});
</script>
{% endblock %}