{% extends 'crud_base.html' %}

{% block content %}
<div class="card card-danger">
    <div class="card-header">
        <h3 class="card-title">Delete {{ object }}</h3>
    </div>
    <form method="post">
        <div class="card-body">
            {% csrf_token %}
            <p>Are you sure you want to delete <strong>{{ object }}</strong>?</p>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-danger">
                <i class="fas fa-trash"></i> Yes, Delete
            </button>
            <a href="{% url list_url %}" class="btn btn-default">Cancel</a>
        </div>
    </form>
</div>
{% endblock %}